.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr ;
    background-color: grey;
     height: 100%; 
}

.dialogs img{
    width: 50px;
    width: 50px;
    border-radius: 40px;
    padding: 5px;
  }
  
  .navLink{
     
      /* padding:2px; */
      padding-left:13px ;
      padding-bottom: 5px;
  }
  
  .message {
      padding:35px;
  }




  