.header {
    grid-area: h;
    background-color:rgb(93, 94, 146) ;
  } 
  
 .loginBlock{
  float: right;
  margin: 5px;
  margin-right: 10px;
  }

  .loginBlock a{
    background-color:cyan;
  }


    /* LOGO */

  .logo {
    width: 50px;
      
    }
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }