.users{
 background-color: grey;  
}
.usersItems{
 padding: 10px;
}
.selectedPage{
  font-weight: bold;
}
span{
  margin: 5px;
  cursor: pointer;
}
 img{
    width: 50px;
    width: 50px;
    border-radius: 40px;
  }



  