  .descriptionBlock{
    margin-left: 10px;
  }
  .HeadImage img {
    width:1370px;
    /* height:700px ; */
    margin: 10px;
  }

  .profilePhoto img {
    width:300px;
    margin-left: 10px; 
  }
 
  p{
    margin: 10px;
  }