.app-wrapper{
  display: grid;  

grid-template-areas:
"h h"
"n c";
grid-template-rows: 5 0px 1fr;
grid-template-columns: 130px 15fr ;
 width: 100%;
}

.app-wrapper-content{
  grid-area: c;
  
}







